<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ĐẦU ĐỀ TRANG</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

  <meta name="description" content="THÔNG TIN.">
  <meta property="og:title" content="ĐẦU ĐỀ TRANG">
  <meta property="og:description" content="TẠI SAO LEN NAM.">
  <meta property="og:image" content="https://award-vote-2..repl.co/assets/animationsHappy_newyear.gif">
  <meta property="og:image:alt" content="Replit Summer">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://award-vote-2022.discordmods.repl.co">
  <link rel="canonical" href="https://award-vote-2022.discordmods.repl.co">

  <link rel="icon" href="/assets/favicon.ico">
  <meta name="theme-color" content="#FF00FF">
</head>
<body>
  {% block page %}
  {% endblock %}
</body>
</html>
